@import "../../assets/variables.module";
.input {
  border: none;
  background-color: #fff;
  outline: none;
  font-size: 1.3rem;
  color: $MyDarkBlue;
  margin: 5px 10px;
}
@media (max-width: 464px) {
  .input {
    width: 150px;
    margin: 2px 5px;
    font-size: 1rem;
  }
}
