.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header {
  margin-bottom: 60px;
  color: #fff;
}

@media (max-width: 464px) {
  .noTasks,
  .header {
    font-size: 30px;
  }

  .header {
    margin-bottom: 40px;
  }
}
