.burger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 15px 0px 0px;
  cursor: pointer;
  @media (min-width: 1024px) {
    display: none;
  }
  @media (max-width: 320px) {
    margin: 5px 5px 0px 0px;
    z-index: 10;
  }
}
