@import "../../assets/variables.module";

.siderBar {
  display: inline-flex;
  justify-content: center;
  height: 100vh;
  width: 350px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
}
.profile {
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.photo {
  border-radius: 50%;
  margin-right: 20px;
}
.line {
  width: 200px;
  height: 2px;
  border-radius: 10px;
  background-color: $MyDarkBlue;
  margin: 40px auto;
}

.managment {
  margin-top: 50px;
}

@media (max-width: 1023px) {
  .siderBar {
    position: fixed;
    left: -100%;
    transition: left 1s;
  }
  .active {
    left: 0;
    width: 100%;
  }
}
