$MyYellow: #fac608;
$MyPink: #fd99af;
$MyLightBlue: #3fd4f4;
$MyFiol: #ca8bfe;
$MyDarkBlue: #717082;
$blueGray: #a18aff;

:export {
  MyYellow: $MyYellow;
  MyPink: $MyPink;
  MyLightBlue: $MyLightBlue;
  MyFiol: $MyFiol;
  MyDarkBlue: $MyDarkBlue;
  blueGray: $blueGray;
}
