@import "../../assets/variables.module";
.buttton {
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: white;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: $MyDarkBlue;
  margin-bottom: 30px;
}
.button:first-child {
  margin-bottom: 0;
}

.icon {
  margin-right: 30px;
}
