.button {
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: white;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
}

.icon {
  margin-right: 20px;
}
